In [ ]:
a = int(input("give a value"))
b = int(input("give b value"))

print(a,b)
print("***********")
print(a,b,sep=",")
print(a,b,end="ended here.")

1 2
***********
1,2
1 2ended here.

In [ ]:
#example1 : string input and output:

'''
Expected input : "vivek"
Expected output : "Hello,vivek!"
'''

name = input("enter name: ")
print("hello",name,sep=",",end="!")

hello,vivek!

In [ ]:
#example 2 : integer input and output:

'''
Expected input :5

Expected outptu : "you entered :5"

'''

num = int(input("give values of num :"))

print("you entered : ",num, sep="")

you entered : 5

In [ ]:
#ex : 3 : float input and output

'''expected input : 3.14
Expected output : " value of PI : 3.14'''

pi = float(input("pi: "))
print("value of Pi", pi)

value of Pi 3.14

In [ ]:
#example:

inp = input("enter the name and age :")
name,age = inp.split(",")  #it will split where ever we have comma


print("name",name, "age:",age)

name vivek age: 28

In [ ]:
#example: End parameter in output:

n = int(input("enter the no"))
print("countdown: 5 4 3 2 1 blast ")

countdown: 5 4 3 2 1 blast

In [ ]:
#example : Arthimetic operators:

a,b = input("enter a and b value : ").split(",")
a = int(a)
b = int(b)
print("addition:",(a+b),"mul:",a*b,"sub:",a/b)

addition: 30 mul: 200 sub: 0.5

In [ ]:
#example: comparisoin operators:

a,b = input("enter string").split(",")
a = int(a)
b = int(b)

In [ ]:
#example: formatiing output with f strings

x,y = input("enter name and age:").split(",")

print(f"name:{x},age:{y} years") #syntax f"abcd{},{}"

name:alice,age:24 years

In [ ]:
a = int(input())
b = int(input())

print("sum",a+b)
print("sum",a+b)
print("sum",a+b)

sum 30

In [ ]:
#ex : Area of circle:

radius = int(input("enetr "))
a = 3.14*(radius**2)
print("area of circle",a)
print("area of circle",a,sep="")
print(f"area od fcielc{a}")

area of circle 12.56
area of circle12.56
area od fcielc12.56

In [ ]:
#ex : Quadratic Equatoin: ax**2+bx+c=0 , d = b**2-4ac

a = int(input("give a: "))
b = int(input("give b: "))
c = int(input("give c: "))

root1=0
root2=0

d=(b**2) - 4*a*c
root1 = (-b + (d**(0.5))/2*a)
root2 = (-b - (d**(0.5))/2*a)

print(f"roots:({root1},{root2})")

roots:((-2+1.4142135623730951j),(-2-1.4142135623730951j))

In [ ]:
#ex : swap 2 numbers

a = int(input())
b = int(input())

temp = b
b = a
a = temp

print(a,b)

20 10

In [ ]:
#same but simple for above
a = int(input())
b = int(input())

a,b = b,a

print(a,b)

20 10

In [ ]:
#ex : converting the temperature units:

#we have fomraula 
# F = c * (9/5) + 32
# K = 273+ C

In [ ]:
#ex : basic currency converter

# EUR * amount

In [ ]:
#more pratice problems